<ion-view view-title="Login">
    <ion-content class="padding">
        <div class="list">
            <img src="img/logo1.png" class="logo">
            <div class="logoText">
                Nineties Boy
            </div>
        </div>
        <div class="list card padding">
            <button ng-click="login()" class="button button-block button-positive activated">
                Sign In
            </button>
        </div>
        <div class="card" ng-show="authData">
          <div class="item item-text-wrap">
            Hello {{authData.displayName}}!
          </div>
        </div>
    </ion-content>
</ion-view>