<ion-view view-title="News">
    <ion-content>
        <ion-list ng-show="news">
            <ion-item class="item-icon-left" ng-repeat="newsItem in news" type="item-text-wrap" ng-click="openNewsDetail(news.id)">
                <h2>{{news.title}}</h2>
            </ion-item>
        </ion-list>
        <ion-list ng-hide="news.length">
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading News
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
